*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* .container{
    padding: 0 20vw;
} */

@font-face{
    font-family: "Revalia";
    src: url("../fonts/Revalia.woff2") format('woff2');
}

@font-face{
    font-family: "Roboto";
    src: url("../fonts/Roboto.woff2") format('woff2');
}

@font-face{
    font-family: "Roboto";
    src: url("../fonts/Roboto.woff2") format('woff2');
}

@font-face{
    font-family: "Roboto";
    src: url("../fonts/Roboto-latin.woff2") format('woff2');
}

body{
    font-family: "Roboto";
    font-size: 16px;
}

/* -------------------START HEADER--------------- */
header{
    min-height: 700px;
    background: #EEEFF1;
    padding: 0 calc(50% - 490px);
    color: #000000;
}

.top-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 57px;
}

.logo{
    font-family: "Revalia";
    font-weight: normal;
    font-size: 48px;
    line-height: 60px;
    text-align: center;
    color: #34547A;
}

nav>.elements-menu{
    display: flex;
}
nav>.elements-menu>li.el-menu{
    list-style-type: none;
    text-transform: uppercase;
    margin-left: 42px;

}
.el-menu>a{
    text-decoration: none;
    color: #000000;
}

.el-menu>a:hover{
    color: #34547A;
}

.main-header{
    margin-top: 166px;
    display: flex;
}

.main-header>.right-side{
    margin-left: 142px;
}

.title1{
    font-weight: bold;
    font-size: 48px;
    color: #000000;
    margin-bottom: 60px;
}

.txt{
    line-height: 26px;
    color: #727272;
    margin-bottom: 60px;
}

.btn{
    width: 225px;
    height: 65px;
    background: #34547A;
    border: none;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.1em;
    color: #FFFFFF;
    text-transform: uppercase;
    margin-bottom: 120px;
}

/* -------------------START section about--------------- */

section.about{
    text-align:center;
    white-space: pre-line;
    padding-top: 100px;
    padding-bottom: 20px;
}

.title2{
    font-weight: bold;
    font-size: 32px;
}

/* -------------------START section projects--------------- */
section.projects{
    background: #34547A;
    height: 250px;
    color:white;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.project-el{
    display: flex;
    align-items: center;
    white-space: pre-line;
    width: 141px;
    justify-content: space-between;
}

section.skills{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 60px;
    padding-bottom: 60px;
    height: 653px;
}

section.skills>.right-side>img{
    width: 555px;
    margin-left: 100px;
    margin-right: 100px;
}
